@charset "utf-8";

body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  background-color: #ccc793;
  background-image: url('../../MainInterface/fab_bg.jpg');
  color: #336633;/* 文字色 */
  text-align: center;
  font-family: "MS Pゴシック", sans-serif;
  line-height: normal;
}

th, td {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;	
}

br {
	letter-spacing : normal;
}


div#wrapper {
  margin: 0 auto;
  width: 800px;
  background-color: transparent;
  text-align: left;
}

/* ヘッダー */
div#header {
  margin: 20px 0;
  width: 800px;
  height: 200px;
  border: 0;
  background: url('../../MainInterface/fab_title_bg_0.png') no-repeat left top;
}

div#header div#title {
  padding: 2.5em 0 0 3em;
}

div#header div#title h1 {
  	font-size: 150%;
	font-weight: bold;
	font-style: italic;
  	color: #B22222;
}

div#header div#introduction p {
  margin-left: 5em;
  width: 300px;
  font-size: 75%;
}

/*backyard*/
div#main {
  width : 800px;
  overflow : visible;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10px;         /* CSS3 */
  -moz-border-radius: 10px;    /* Firefox */
  -webkit-border-radius: 10px; /* Safari,Chrome */
}

div#main p.pagetop {
	text-align: right;
 	margin: 1em 3em;
	font-size: 75%;
}

div#footer {
  	clear : both;
}

/* 基本リンク */
a:link, a:visited {
  	color: #cc6600;
  	text-decoration: none;
}

.frame {
	width: 670px;
	font-size: 80%;
	text-align: center;
	border-style:outset;
	border-width: 6px;
	border-color:#907050;
    margin-left: auto;
	margin-right: auto;			
}

.fhead {
	color: #DDDDDD;
	background-color: #7e5e3e;
}

.fbody {
	text-align: left;
    padding: 10px 10px 10px 10px;
}

table#t-01 {
	width: 670px;
	table-layout:fixed;	
	border-collapse: separate;
	border-spacing: 10px 10px;
    margin-left: auto;
	margin-right: auto;
}

table#t-01 th {
	background-color: #9c4728;
}

table#t-01 td {
	background-color: #fae0e7;
    text-align: left;
    padding: 10px 10px 20px 10px;
}

.hid {
	height: 20px; 
}

.wid {
	width: 50px;
}
.tdtop {
	text-align: left;
    vertical-align:top;
}
