@charset "utf-8";

body {
    color: #ffffff;
    background-color: #000000;
    font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
    overflow-y: scroll;
}

th, td {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;	
}

img {
    border: none;
}

#mainBody.mainContainer{
	width: 900px;
	font-size: 80%;
	border-style:outset;
	border-width: 6px;
	border-color:#907050;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
	margin-right: auto;
}

    #mainBody.mainContainer .ContainerTitle {
        width: 900px;
	    color: #dddddd;
	    background-color: #7e5e3e;
        position:relative;
    }
        #mainBody.mainContainer .ContainerTitle h1 {
	    	text-align: center;
            font-size: 12px;
	    	margin: 0px;
        }

#mainBody .mainContents .ContentsHeader {
    margin-top: 5px;
    margin-bottom: -20px;
    margin-right: 25px;
    text-align: right;
}
    #mainBody .mainContents .ContentsHeader a:link {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
        #mainBody .mainContents .ContentsHeader a:hover {
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
            text-decoration: underline;
        }

#mainBody .mainContents .ContentsFooter {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 25px;
    text-align: right;
}
    #mainBody .mainContents .ContentsFooter a:link {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
        #mainBody .mainContents .ContentsFooter a:hover {
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
            text-decoration: underline;
        }

#mainBody .mainContents .mainTitle {
    float: left;
    width: 350px;
	color: #ffffff;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
	margin-right: auto;
}

    #mainBody .mainContents .mainTitle h1 {
        width: 450px;
        font-size: 16px;
    }
        #mainBody .mainContents .mainTitle h1 #mapName {    

        }
        #mainBody .mainContents .mainTitle h1 #fileName{
            font-weight: normal;
            font-size: 10px;
            margin-left: 15px;
        }

#mainBody .mainContents .interface {
    width: 450px;
    margin-left: 10px;
}
    #mainBody .mainContents .interface button {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.5);
        background-clip: padding-box;
        -moz-background-clip:padding;
        -webkit-background-clip:padding-box;
        -o-background-clip:padding-box;
        border: solid 2px rgba(128, 128, 128, 0.7);
        border-radius: 4px; 
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        display: inline-block;
    }

    #mainBody .mainContents .interface .zoomUp {
        background-image: url(../images/1209_32.png);
    }
        #mainBody .mainContents .interface .zoomUp:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
        #mainBody .mainContents .interface .zoomUp:active {
            background-color: rgba(255, 255, 255, 1.0);
        }

    #mainBody .mainContents .interface .zoomOut {
        background-image: url(../images/1210_32.png);
    }
        #mainBody .mainContents .interface .zoomOut:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
        #mainBody .mainContents .interface .zoomOut:active {
            background-color: rgba(255, 255, 255, 1.0);
        }

    #mainBody .mainContents .interface .reset {
        background-image: url(../images/1208_32.png);
    }
        #mainBody .mainContents .interface .reset:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
        #mainBody .mainContents .interface .reset:active {
            background-color: rgba(255, 255, 255, 1.0);
        }

    #mainBody .mainContents .interface .changeImage {
        background-image: url(../images/3503_32.png);
    }
        #mainBody .mainContents .interface .changeImage:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
        #mainBody .mainContents .interface .changeImage:active {
            background-color: rgba(255, 255, 255, 1.0);
        }

    #mainBody .mainContents .interface input[type=checkbox] {
        width: 20px;
        height: 12px;
        margin-right: 3px;
        padding: 0px;
    }
    #mainBody .mainContents .interface .cText {
        font-size: 10px;
    }

#mainBody .mainContents .ViewArea {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    position:relative;
}


#mainBody .mainContents .ViewArea .Map {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-right: 100px;
}

#mainBody .mainContents .ViewArea .Char {
    position: absolute;
    color: #e60012;
    font-family: "Segoe UI Symbol";
    font-size: 5px;
    line-height: 1.0em;
    z-index: 2;
    cursor: default;
}

    #mainBody .mainContents .ViewArea .Char:hover {
        color: #600000;
    }

    #mainBody .mainContents .ViewArea .Char.Selected {
        width: 1.1em;
        height: 1.1em;
        color: #f2f100;
        text-align: center;
        background-color: #000000;
    }
        #mainBody .mainContents .ViewArea .Char.Selected:hover {  
            color: #ffffff;
        }

    #mainBody .mainContents .ViewArea .Char.CImage00 {
        background-image: url("../images/interface_00.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage00.Selected {
            background-image: url("../images/interface_00s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage01 {
        background-image: url("../images/interface_01.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage01.Selected {
            background-image: url("../images/interface_01s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage02 {
        background-image: url("../images/interface_02.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage02.Selected {
            background-image: url("../images/interface_02s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage03 {
        background-image: url("../images/interface_03.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage03.Selected {
            background-image: url("../images/interface_03s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage04 {
        background-image: url("../images/interface_04.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage04.Selected {
            background-image: url("../images/interface_04s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage05 {
        background-image: url("../images/interface_05.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage05.Selected {
            background-image: url("../images/interface_05s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage06 {
        background-image: url("../images/interface_06.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage06.Selected {
            background-image: url("../images/interface_06s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage07 {
        background-image: url("../images/interface_07.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage07.Selected {
            background-image: url("../images/interface_07s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage08 {
        background-image: url("../images/interface_08.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage08.Selected {
            background-image: url("../images/interface_08s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage09 {
        background-image: url("../images/interface_09.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage09.Selected {
            background-image: url("../images/interface_09s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage10 {
        background-image: url("../images/interface_10.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage10.Selected {
            background-image: url("../images/interface_10s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage11 {
        background-image: url("../images/interface_11.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage11.Selected {
            background-image: url("../images/interface_11s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage12 {
        background-image: url("../images/interface_12.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage12.Selected {
            background-image: url("../images/interface_12s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage13 {
        background-image: url("../images/interface_13.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage13.Selected {
            background-image: url("../images/interface_13s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage14 {
        background-image: url("../images/interface_14.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage14.Selected {
            background-image: url("../images/interface_14s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage15 {
        background-image: url("../images/interface_15.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage15.Selected {
            background-image: url("../images/interface_15s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage16 {
        background-image: url("../images/interface_16.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage16.Selected {
            background-image: url("../images/interface_16s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage17 {
        background-image: url("../images/interface_17.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage17.Selected {
            background-image: url("../images/interface_17s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage18 {
        background-image: url("../images/interface_18.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage18.Selected {
            background-image: url("../images/interface_18s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage19 {
        background-image: url("../images/interface_19.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage19.Selected {
            background-image: url("../images/interface_19s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage20 {
        background-image: url("../images/interface_20.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage20.Selected {
            background-image: url("../images/interface_20s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage21 {
        background-image: url("../images/interface_21.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage21.Selected {
            background-image: url("../images/interface_21s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage22 {
        background-image: url("../images/interface_22.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage22.Selected {
            background-image: url("../images/interface_22s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage23 {
        background-image: url("../images/interface_23.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage23.Selected {
            background-image: url("../images/interface_23s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage24 {
        background-image: url("../images/interface_24.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage24.Selected {
            background-image: url("../images/interface_24s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage25 {
        background-image: url("../images/interface_25.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage25.Selected {
            background-image: url("../images/interface_25s.png");
        }
    #mainBody .mainContents .ViewArea .Char.CImage26 {
        background-image: url("../images/interface_26.png");
        width: 10px;
        height: 10px;
    }
        #mainBody .mainContents .ViewArea .Char.CImage26.Selected {
            background-image: url("../images/interface_26s.png");
        }

#mainBody .mainContents .ViewArea .Area {
    position: absolute;
    font-size: 10px;
	background-color: rgba(0, 0, 255, 0.7);
	border-radius: 1px; 
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
    z-index: 1;
    cursor: default;
}
    #mainBody .mainContents .ViewArea .Area:hover {
	background-color: rgba(0, 221, 255, 0.7);
    }

    #mainBody .mainContents .ViewArea .Area.Type00 {
    	background-color: rgba(196,0, 204, 0.3);
    }
        #mainBody .mainContents .ViewArea .Area.Type00:hover {
			background-color: rgba(59, 44, 82, 0.5);
        }

    #mainBody .mainContents .ViewArea .Area.Type02.Secret {
    	background-color: transparent;
    }
        #mainBody .mainContents .ViewArea .Area.Type02 .SecretDungeonEntrance:hover {
			opacity: 0.7;
        }

    #mainBody .mainContents .ViewArea .Area.Type03 {
    	background-color: transparent;
    }
        #mainBody .mainContents .ViewArea .Area.Type03:hover {
            cursor: pointer;
        }
        #mainBody .mainContents .ViewArea .Area.Type03 .portalImg:hover {
            cursor: pointer;
			opacity: 0.7;
        }

    #mainBody .mainContents .ViewArea .Area.Type04 {
    	background-color: rgba(0, 0, 255, 0.3);
    }
        #mainBody .mainContents .ViewArea .Area.Type04:hover {
    	background-color: rgba(0, 200, 255, 0.5);
        }

    #mainBody .mainContents .ViewArea .Area.Type05 {
        color: magenta;
    	background-color: transparent;
    }
        #mainBody .mainContents .ViewArea .Area.Type05:hover {
            color: #8e00cc;
        }

    #mainBody .mainContents .ViewArea .Area.Type06 {
		color: #00ff20;
    	background-color: transparent;
    }
        #mainBody .mainContents .ViewArea .Area.Type06:hover {
            color: #009020;
        }

    #mainBody .mainContents .ViewArea .Area.Type11 {
    	background-color: #ff2000;
    }
        #mainBody .mainContents .ViewArea .Area.Type11:hover {
			background-color: #700000;
        }

    #mainBody .mainContents .ViewArea .Area.Type13 {
    	background-color: transparent;
    }
        #mainBody .mainContents .ViewArea .Area.Type13:hover {

        }

    #mainBody .mainContents .ViewArea .Area.Type17 {
    	background-color: transparent;
    }
        #mainBody .mainContents .ViewArea .Area.Type17:hover {

        }

    #mainBody .mainContents .ViewArea .Area.Type18 {
    	background-color: rgba(255, 255, 0, 0.3);
    }
        #mainBody .mainContents .ViewArea .Area.Type18:hover {
			background-color: rgba(255, 183, 76, 0.5);
        }

#mainBody .mainContents .Dt01 {
    border-top:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0;
    border-collapse: collapse;
}

    #mainBody .mainContents .Dt01 .title {
		height: 1.2em;
	    color: #e0e060;
	    background-color: #600000;
        border-right:1px solid #a0a0a0;
        border-bottom:1px solid #a0a0a0;
        border-collapse: collapse;
        font-weight: bold;
    }
    #mainBody .mainContents .Dt01 th {
		height: 1.2em;
        color: #ffffff;
        background-color: #505050;
        border-right:1px solid #a0a0a0;
        border-bottom:1px solid #a0a0a0;
        border-collapse: collapse;
    }
    #mainBody .mainContents .Dt01 td {
        border-right:1px solid #a0a0a0;
        border-bottom:1px solid #a0a0a0;
        border-collapse: collapse;
        text-align:center;
    }


#mainBody .mainContents #statusTable td {
    vertical-align: bottom;
}

#mainBody .mainContents #status {
    width: 130px;
    margin-top: 3px;
}

    #mainBody .mainContents #status .CmapCreator {
        width: 23px;
        height: 32px;
        background-image: url(../images/m_023.png);
        background-repeat: no-repeat;
        background-clip: padding-box;
        -moz-background-clip:padding;
        -webkit-background-clip:padding-box;
        -o-background-clip:padding-box;
        display: inline-block;
        position:relative;
    }
        #mainBody .mainContents #status .CmapCreator span {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 1.1em;
            font-family: "Segoe UI Symbol";
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            line-height: 1.0em;
            background-color: #000000;
        }
    #mainBody .mainContents #status .CPvPMap {
        width: 23px;
        height: 32px;
        background-image: url(../images/m_002.png);
        background-repeat: no-repeat;
        background-clip: padding-box;
        -moz-background-clip:padding;
        -webkit-background-clip:padding-box;
        -o-background-clip:padding-box;
        display: inline-block;
    }

    #mainBody .mainContents #status .CPremiumMap {
        width: 23px;
        height: 32px;
        background-image: url(../images/m_020.png);
        background-repeat: no-repeat;
        background-clip: padding-box;
        -moz-background-clip:padding;
        -webkit-background-clip:padding-box;
        -o-background-clip:padding-box;
        display: inline-block;
    }

    #mainBody .mainContents #status .CLocationStrage {
        width: 23px;
        height: 32px;
        background-image: url(../images/m_021.png);
        background-repeat: no-repeat;
        background-clip: padding-box;
        -moz-background-clip:padding;
        -webkit-background-clip:padding-box;
        -o-background-clip:padding-box;
        display: inline-block;
    }

#mainBody .mainContents .fieldStatus table {
    width: 280px;
    margin-top: 5px;
}
    #mainBody .mainContents .fieldStatus span{
        color: #ffffff;
        text-align: left;
        font-size: 10px;
    }
    #mainBody .mainContents .fieldStatus table th{
        font-weight: normal;
    }
    #mainBody .mainContents .fieldStatus table td{
    }
        #mainBody .mainContents .fieldStatus table td.value{
            background-color: rgba(255, 0, 0, 0.2);
        }


#mainBody .mainContents .CharacterTable { 
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
    #mainBody .mainContents .CharacterTable span{
        color: #ffffff;
        text-align: left;
        font-size: 10px;
    }
    #mainBody .mainContents .CharacterTable table {
        width: 190px;
		margin-top: 5px;
		line-height: 1.2em;
    }
        #mainBody .mainContents .CharacterTable table th {
            height: 1.3em;
	        color: #e0e060;
	        background-color: #600000;
			padding: 2px 5px;
        }
        #mainBody .mainContents .CharacterTable table td {
            height: 1.3em;
			padding: 1px 5px;
        }
        #mainBody .mainContents .CharacterTable table td.number {
            width: 2em;
			padding: 1px 1px;
        }
        #mainBody .mainContents .CharacterTable table td.name:hover {
            background-color: #505050;
        }
        #mainBody .mainContents .CharacterTable table td.name.Selected {
            color: #ff0000;
            font-weight: bold;
        }

#mainBody .mainContents .AreaTable { 
    float:left;
    margin-top: 10px;
    margin-right: 20px;
}
    #mainBody .mainContents .AreaTable span{
        color: #ffffff;
        text-align: left;
        font-size: 10px;
    }
    #mainBody .mainContents .AreaTable table {
        width: 190px;
		margin-top: 5px;
		line-height: 1.2em;
    }
        #mainBody .mainContents .AreaTable table th {
            height: 1.3em;
	        color: #e0e060;
	        background-color: #600000;
			padding: 2px 5px;
        }
        #mainBody .mainContents .AreaTable table td {
            height: 1.3em;
			padding: 1px 5px;
        }
        #mainBody .mainContents .AreaTable table td.number {
            width: 2em;
			padding: 1px 1px;
        }
        #mainBody .mainContents .AreaTable table td.name:hover {
            background-color: #505050;
        }
        #mainBody .mainContents .AreaTable table td.name.Selected {
            color: #ff0000;
            font-weight: bold;
        }

#mainBody .mainContents .DetailsTable {
    width: 440px;
    float:left;
    margin-top: 10px;
}
    #mainBody .mainContents .DetailsTable span{
        color: #ffffff;
        text-align: left;
        font-size: 10px;
    }

    #mainBody .mainContents .DetailsTable table {
        width: 430px;
		margin-top: 5px;
    }
        #mainBody .mainContents .DetailsTable #mResistance div{
            width: 300px;
            margin-left: auto;
            margin-right: 0px;
        }
            #mainBody .mainContents .DetailsTable #mResistance div table {
                width: 300px;
                font-size: 10px;
				line-height: 1.2em;
            }
                #mainBody .mainContents .DetailsTable #mResistance div table th{
					height: 1.3em;
                    font-weight: normal;
                    font-size: 10px; 
					padding: 2px 5px;
                }
                #mainBody .mainContents .DetailsTable #mResistance div table td{
					height: 1.3em;
					padding: 1px 5px;
                }
                    #mainBody .mainContents .DetailsTable #mResistance div table td.value{
                        background-color: rgba(255, 0, 0, 0.2);
                    }


.tooltip {
    position: absolute;
    opacity: 1.0;
    cursor:default;
}
	.tooltip .body{
		min-width: 30px;
        font-size: 11px;
	    color: #000000;
	    background-color: #f9d835;
		padding: 5px;
	    border: 2px outset #600000;
	    border-radius: 4px; 
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
		white-space: nowrap;
	    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
		background:-moz-linear-gradient(#f9d835, #f3961c);
		background:-o-linear-gradient(#f9d835, #f3961c);
		background:-ms-linear-gradient(#f9d835, #f3961c);
	    position: relative;
	}
	.tooltip .body h1{
		font-size: 12px;
        font-weight: bold;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.tooltip .body div{
        margin-left: 1em;
	}
        .tooltip .body a:link, .tooltip .body a:visited{
            color: #4000b2;
            text-decoration: none;
        }
            .tooltip .body a:link:hover, .tooltip .body a:visited:hover {
                text-decoration: underline;
            }

    .tooltip .tail {
        bottom: -8px; /* value = - border-top-width - border-bottom-width */
        left: 50px; /* controls horizontal position */
        border-width: 10px 5px 0; /* vary these values to change the angle of the vertex */
        border-style: solid;
        border-color: #f3961c transparent;
        /* reduce the damage in FF3.0 */
        display: block;
        width: 0;
        position: absolute;
        z-index: 1001;
    }